
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.big-icon {
  font-size: 2rem;
}

.question {
  font-size: 2rem;
}

.inline {
  display: inline;
}